<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header"><h3 class="modal-title">{{header}}</h3></div>
    <form>
      <div class="modal-body">
        <div class="form-group"><label>Title:</label><input ng-model="taskTmpl.title"></div>
        <div class="form-group duration">
          <label>Duration:</label><input type="number" ng-model="taskTmpl.dur.hours"/> hr <input type="number" ng-model="taskTmpl.dur.min" step="5" min="0" max="55"/> min</div>
        <div class="form-group"><label>Start Time:</label><input type="time" ng-model="taskTmpl.start" step="300"></div>
        <div class="form-group">
          <label>Priority:</label>
          <select>
            <option value="1">Urgent</option>
            <option value="2">Important</option>
            <option value="3" selected>Normal</option>
            <option value="4">Whenever</option>
          </select>
        </div>
        <div class="form-group"><label>Description:</label><textarea ng-model="taskTmpl.description"></textarea></div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" ng-click="close()">Cancel</button>
        <button class="btn btn-primary" ng-click="save()">Save</button>
      </div>
    </form>
  </div>
</div>
