<div class="task" ng-style="getStyle()" ng-class="getClass()">
  <div class="title" ng-bind="task.title"></div>
  <div class="time-info">
    <span ng-show="task.start" ng-bind="range()"></span> (<span ng-bind="task.duration"></span>)
  </div>
  <div class="control" ng-show="resize || !drag">
    <span class="glyphicon glyphicon-resize-vertical ui-resizable-handle ui-resizable-s" title="Change duration" ng-show="task.start"></span>
    <span class="glyphicon glyphicon-pencil" title="Edit task" ng-click="modal.task(task)"></span>
    <span class="glyphicon glyphicon-remove" title="Delete task" ng-click="deleteTask(task)"></span>
    <span class="glyphicon glyphicon-share-alt" title="Put in backlog" ng-show="task.start" ng-click="unassign(task)"></span>
  </div>
</div>
