<div class="modal-content task-modal">
  <div class="modal-header"><h3 class="modal-title">{{header}}</h3></div>
  <form name="form">
    <div class="modal-body">
      <div class="form-horizontal">
        <div class="form-group title" ng-class="errors.title && 'has-error'">
          <label class="control-label">Title:</label>
          <div class="feedback">
            <input class="form-control" type="text" name="title" ng-model="tmpl.title">
            <div class="help-block">{{errors.title}}</div>
          </div>
        </div>
        <div class="form-group duration" ng-class="errors.dur && 'has-error'">
          <label class="control-label">Duration:</label>
          <div class="feedback">
            <span>
              <input class="form-control" type="number" ng-model="dur.hr" min="0"/> hr
              <input class="form-control" type="number" ng-model="dur.min" min="0" step="5"/> min
            </span>
            <div class="help-block">{{errors.dur}}</div>
          </div>
        </div>
        <div class="form-group start">
          <label class="control-label">Start Time:</label>
          <div class="feedback">
            <input class="form-control" type="time" ng-model="tmpl.start" step="300">
            <div class="help-block">{{errors.start}}</div>
          </div>
        </div>
        <div class="form-group priority">
          <label class="control-label">Priority:</label>
          <select class="feedback" ng-model="tmpl.priority">
            <option value="1">Urgent</option>
            <option value="2">Important</option>
            <option value="3">Normal</option>
            <option value="4">Whenever</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Description:</label>
        <textarea class="form-control" ng-model="taskTmpl.description"></textarea></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" ng-click="close()">Cancel</button>
      <button class="btn btn-primary" ng-disabled="invalid" ng-click="save()">Save</button>
    </div>
  </form>
</div>
