<nav class="navbar navbar-default">
  
  <div class="navbar-left">
    <div class="navbar-text">
      <div class="day-widget">
        <a class="glyphicon glyphicon-chevron-left" ng-click="tasks.changeDay(1)"></a>
        {{tasks.date | date:"EEE MMM d, yyyy"}}
        <a class="glyphicon glyphicon-chevron-right" ng-click="tasks.changeDay(-1)"></a>
      </div>
      <div class="day-info text-center">{{dayText}} <a ng-click="tasks.changeDay()">today</a>.</div>
    </div>
  </div>

  <div class="navbar-right" ng-hide="welcome">
    <div class="dropdown">
    <div class="btn btn-info navbar-btn" data-toggle="dropdown">
      <div class="navbar-name">
        {{auth.user.name}}
      </div>
      <div class="navbar-caret">
        &nbsp;<b class="caret"></b>
      </div>
    </div>
    <ul class="dropdown-menu">
      <li><a>Edit</a></li>
      <li><a ng-click="logOut()">Log Out</a></li>
    </ul>
  </div>
  </div>
</nav>
