<nav class="navbar navbar-default">
  
  <div class="navbar-left">
    <div class="navbar-text">
      <div class="day-widget">
        <a class="glyphicon glyphicon-chevron-left" ng-click="tasks.changeDay(1)"></a>
        {{tasks.date | date:"EEE MMM d, yyyy"}}
        <a class="glyphicon glyphicon-chevron-right" ng-click="tasks.changeDay(-1)"></a>
      </div>
      <div class="day-info text-center">{{dayText}} <a ng-click="tasks.changeDay()">today</a>.</div>
    </div>
  </div>

  <div class="navbar-right">
    <div class="dropdown">
      <a class="btn btn-primary navbar-btn" data-toggle="dropdown" ng-disabled="!auth.user">
        <div class="navbar-name">
          {{auth.user.name || 'Demo'}}
        </div>
        <div class="navbar-caret" ng-show="auth.user">
          &nbsp;<b class="caret"></b>
        </div>
      </a>
      <ul class="dropdown-menu" ng-if="!welcome">
        <li><a ng-click="modals.account()">Edit Account</a></li>
        <li><a ng-click="logOut()">Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
