<div class="wake-sleep panel panel-default">
  <div class="panel-heading">Wake</div>
  <div class="panel-body">
    <div hour-select="wake"></div>
    <div  hour-select="sleep"></div>
  </div>
  <div class="panel-footer">Sleep</div>
</div>

