<% content_for :head do %>
  <%= javascript_include_tag "home" %>
<% end %>
<div ng-app="app" ng-controller="viewCtrl">

  <div class="left">
    <div class="timeline">
      <div class="hour" ng-repeat="hour in hours">
	<div class="snap">{{hour}}</div>
	<div class="snap"></div>
	<div class="snap"></div>
	<div class="snap"></div>
      </div>
      <task ng-repeat="task in Tasks.list | assigned:true"></task>
    </div>
  </div>

  <div class="right">

    <%= render "navbar" %>

    <div class="task-list panel panel-default">
      <div class="panel-heading clearfix">
	Task Backlog<a class="btn btn-default" ng-click="modal.task()">Add Task</a>
      </div>
      <div class="panel-body">
	<task ng-repeat="task in Tasks.list | assigned:false | orderBy:'priority'"></task>
      </div>
    </div>
  </div>

  <div id="my-modal-back" ng-show="modal.active"></div>

  <div class="task-modal my-modal"></div>

</div>
