<% content_for :head do %>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <%= javascript_include_tag "home" %>
<% end %>
<div>
  <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
</div>
<div ng-app="app" ng-controller="viewCtrl" >
  <div>
    <a href="#" ng-click="changeDay(-1)">back</a>
    {{day | date:"longDate"}}
    <a href="#" ng-click="changeDay(1)">forward</a>
    | <a href="#" ng-click="changeDay()">today</a></div>
  <div class="dragArea">
    <div class="timeline">
      <div class="hour" ng-repeat="hour in hours" ng-class-odd="'oddHour'">
	<div class="snap"><span style="position: relative; left: -40px;">{{hour}}</span></div>
	<div class="snap"></div>
	<div class="snap"></div>
	<div class="snap"></div>
      </div>
    </div>
    <div class="task" ng-repeat="task in Tasks.list | assigned:true"></div>
    <div class="taskList">
      <a href="#" ng-click="modal.task()">New Task</a>
      <div class="task" ng-repeat="task in Tasks.list | assigned:false | orderBy:'priority'"></div>
    </div>
  </div>
  <div id="modal-back" ng-show="modal.active"></div>
  <div class="task-modal modal"></div>
</div>
