// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$task-width: 200px;
$color-pri-1: #FCBFBD;
$color-pri-2: #F6FCBD;
$color-pri-3: #BDF1FC;
$color-pri-4: #D3E6DC;
$hour-height: 60px;
  
a {
  color: blue;
}

.dragArea{
  display: inline-block;
  position: absolute;
  top: 120px;
  left: 100px;
}

.taskList {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 300px;
  width: $task-width;
  height: 200px;
  margin-left: 100px;
  background-color: gray;
}

.timeline {
  position: relative;
  display: inline-block;
  width: $task-width;
  vertical-align: top;
}

.task {
  position: relative;
  padding: 3px;
  height: $hour-height / 2;
  width: $task-width;
  border-radius: 5px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid black;
  
  .title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;       
  }
  
  .control {
    width: 100%;
    text-align: right;
    bottom: 0px;
  }

  &.pri-1 {
    background-color: $color-pri-1;
  }
  &.pri-2 {
    background-color: $color-pri-2;
  }
  &.pri-3 {
    background-color: $color-pri-3;
  }
  &.pri-4 {
    background-color: $color-pri-4;
  }
  
}

.my-modal {
  position: fixed;
  top: 100px;
  left: 300px;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  opacity: 1;
}

#my-modal-back {    
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.7;    
}

.snap {
  height: $hour-height / 4;
  width: 100%;
}

.oddHour {
  background-color: gray;
}

.hour {
  position: relative;
  height: $hour-height;
}

#helper-time {
  position: absolute;
  left: $task-width + 10px;
  top: 0px;
}