@import "compass/css3";
@import "bootstrap";

$task-width: 400px;
$color-pri-1: #FCBFBD;
$color-pri-2: #F6FCBD;
$color-pri-3: #BDF1FC;
$color-pri-4: #D3E6DC;
$hour-height: 60px;
$list-padding: 15px;
$panel-width: 440px;

/* Undo bootstrap styling */
body {
  line-height: initial; 
  min-width: 1000px;
}

[ng-click] { cursor: pointer; }

a:hover { text-decoration: none; }

// Working Area: Timeline, etc. //

.working-area {
  float: left;
}

.timeline {
  margin: 20px;
}

.time-label {
  float: left;
  width: 60px;
  border-right: 1px solid gray;
  vertical-align: text-top;
}

.time-droppable {
  float: left;
  position: relative;
  width: $task-width;
  vertical-align: text-top;
}

.hour {
  border-bottom: 1px solid gray;
  position: relative;
  height: $hour-height;
  text-align: right;

  .time-label & {
    padding-right: 5px;
  }

  &:first-child {
    border-top: 1px solid gray;
  }
}

.snap {
  &:not(:first-child) { border-top: 1px solid lighten(gray, 40%); }
  height: $hour-height / 4;
  width: 100%;
}


// Widget Area //

.widget-area {
  padding: 5px;
  float: right;
  max-width: 500px;

  &.fixed-top { 
    position: fixed;
    top: 0; right: 0;
  }
}

.navbar,.panel {
  margin: 5px;
  float: left;
}

.navbar {
  width: $panel-width;
  padding: 10px;
  
  .navbar-text {
    font-size: 16px;
    vertical-align: middle;
  }
}
.navbar-text {
  display: inline-block;
  margin: 0; 
}

.navbar-btn {
  margin: 0;
  div {float: left;}
}

.navbar-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 65px;
}

.day-widget {
  margin: 0 10px 3px 10px;
}

.day-info {
  font-size: 12px;
  font-style: italic;
}

.dropdown-menu { 
  text-align: left;
  min-width: initial;
}

.task-list {
  width: $panel-width;

  .panel-body {
    padding: 10px;
    //width: $task-width + 35px;
    max-height: 300px;
    overflow-y: scroll;
  }
  .panel-heading {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 18px;

    .btn{
      padding: 4px 8px;
      float: right;
    }
  }
}

.task {
  position: relative;
  padding: 3px 8px;
  width: $task-width;
  @include box-sizing(border-box);
  @include single-box-shadow($inset: true);
  border-radius: 5px;
  z-index: 0;
  
  .timeline & {
    position: absolute;
  }
  &.single-line {
    white-space: nowrap;
    div {
      overflow: hidden;
      display: inline-block;
    }
    .control { display: none; }
    &:hover {
      .control {
        display: inline-block;
        bottom: auto;         
               }
      .time-info { margin-right: 35px; }
      &.assigned {
        .time-info { margin-right: 70px; }
        .title { width: 30%; }
      }
    }
  }
  div {
    overflow: hidden;
    position: relative;
  }    
  .title {
    font-weight: bold;
    float: left;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 80%;    
  }
  &.assigned .title { max-width: 45%; }

  .time-info {
    float: right;
  }      
  .control {
    position: absolute;
    bottom: 3px;
    right: 6px;
    display: none;
    span:hover { color: $link-color; }
  }

  &:hover {
    z-index: 1;
    .control { display: initial; }
  }

  &.drag { z-index: 2;}
  
  &.pri-1 {background-color: $color-pri-1;}
  &.pri-2 {background-color: $color-pri-2;}
  &.pri-3 {background-color: $color-pri-3;}
  &.pri-4 {background-color: $color-pri-4;}

  .task-list & {    
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }
}


// Modals //

.help-block{
  margin-top: 3px;
  margin-bottom: 0;
  height: 12px;
  font-size: 12px;
}

.task-modal form {
  .title input {width: 444px;}

  .form-group {
    height: 55px;
    margin-bottom: 5px;

    label,.feedback {float:left;}
    //& > div { display: inline-block; }
  }
  input,select {
    display: inline-block;
    width: initial;      
  }
  select {
    vertical-align: bottom;
  }
  .feedback {
    margin-left: 15px;
  }
  .duration {
    input {
      width: 80px;
      margin-right: 5px;
      &:last-child {
        margin-left: 15px;
      }
    }
  }
  label {
    text-align: right;
    vertical-align: top;
    width: 90px;
    padding-right: 0;
  }

  .field-info {
    margin-left: 15px;
    line-height: 34px;
    font-size: 12px;
    font-style: italic;
  }
}


// Wake Sleep Widget //

.wake-sleep {
  width: 100px;

  .panel-heading,.panel-footer{
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
  }
  .panel-body {
    padding: 0;
    [hour-select]:first-child { border-bottom: 1px solid #ddd; }
  }
}

.no-tasks {
  text-align: center;
  font-style: italic;
  padding: 5px;
}

[hour-select] {
  text-align: center;
  padding: 5px;
  position: relative;
  .glyphicon {
    position: absolute;
    top: 5px;
  }
  .glyphicon-chevron-left { left: 2px; }
  .glyphicon-chevron-right { right: 2px; }
}