@import "compass/css3";

.welcome {
  position: relative;
  padding: 20px;
  background: rgba(238, 238, 238, 1);
  border-bottom: 1px solid black;

  p,li { font-size: 14px; }
  h1 { margin-top: initial; }
  h2 { margin-bottom: 20px; }
}

.nav-links { 
  text-align: right;
  font-size: 16px;
  a { margin: 0 3px; }
}

.features {
  ul { 
    list-style-position: inside;
    padding-left: 15px;
    font-weight: bold;
  }

  li { margin-bottom: 10px; }
}

.ror { color: #A94442; }

// Logo //

.logo {
  text-align: center;
  height: 70px;
  width: 240px;
  position: relative;
  margin: 0 auto 15px;
  h1 {
    font-size: 40px;
    line-height: 66px;
  }
}
.logo-frame {
  position: absolute;
  background-color: #333;
  @include box-shadow(6px 6px 3px #C5C4C4);
  &.top { 
    height: 6px; 
    width: 100%;
    top: 0;
  }
  &.bottom { 
    height: 6px; 
    width: 100%;
    bottom: 0;
  }
  &.left {
    width: 6px;
    left: 0; top: 6px;
    height: 60px;
  }
  &.right {
    width: 6px;
    height: 60px;
    right: 0; bottom: 6px;
  }
}

// Built With //

.under-hood {
  font-size: 16px;
  img { 
    max-height: 40px;
    max-width: 162px;
  }
  .row { margin-bottom: 15px; }
  .col-xs-6 {
    height: 40px;
    &:last-child { text-align: left; }
    &:first-child { text-align: right; }
  }
}

// Login Form //

.login-form {
  width: 451px;
  float: right;

  .controls {
    float: left;
  }

  .submit {
    float: left;
    line-height: 30px;
    span {margin: 0 10px; }
  }

  .form-control {
    height: initial;
    font-size: 12px;
    border-color: #555555;
  }
  .below {
    line-height: 20px;
    font-size: 12px;
    padding: 3px 12px;
    white-space: nowrap;
  }
  .form-group {
    float: left;
    width: 150px;
    margin: 0 15px 0 0;
  }
}

// Instructions //

$color-inst-arrow: #676767;

#inst-day {
  right: 500px;
  width: 140px;
  top: 20px;
}
#inst-drag1 {
  right: 500px;
  width: 130px;
  top: 88px;
}
#inst-drag2 {
  left: 525px;
  top: 170px;
}
#inst-hours {
  right: 500px;
  width: 161px;
  top: 243px;  
}

.instructions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.instruction {
  position: absolute;
  width: 130px;
  p {
    line-height: 20px;
    font-size: 16px;
  }
}

.arrow {
  position: absolute;
  bottom: 14px;
  &.right{
    padding-right: 8px;
    right: -38px;
  }
  &.left{
    padding-left: 8px;
    left: -38px;
  }
  width: 28px;
}  
.arrow-body {
  margin-top: 5px;
  height: 6px;
  width: 100%;
  background: $color-inst-arrow;

}
.arrow-head {
  position: absolute;
  top: 0;
  height: 8px;
  width: 8px;
  display: inline-block;
  border-top: 8px solid rgba(0, 0, 0, 0);
  border-bottom: 8px solid rgba(0, 0, 0, 0);
  .right & {
    right: 0;
    border-left: 8px solid #676767;
  }
  .left & {
    left: 0;
    border-right: 8px solid #676767;
  }
}