<!DOCTYPE html>
<html>
<head>
  <title>DayPlanner</title>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Added these because "rails g devise:install" told me to-->
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
